services:
  db:
    image: postgres:15-alpine
    container_name: catalogo_postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data_catalogo:/container/path:/var/lib/postgresql/data

volumes:
  postgres_data_catalogo: